<div class="container">
    <h2 class="text-center">
        <%= @post.title %>
    </h2>
    <div>
        <%= @post.body %>
    </div>
    <h5 class="text-center">
        <%= @post.created_at.strftime('%b %d, %Y') %>
    </h5>

</div>

<div class="return_home">
    <button><a href="/">Return to home!</a></button>
</div>